html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #E3E3E3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15%;
  margin: 0;
  position: fixed;
  width: 70%;
  z-index: 1;
}

header a {
  color: #B8A8E3;
  text-decoration: none;
} 

.portfolio {
  font-size: 2rem;
  padding: 10px 0;
  font-weight: 700;
  color: #E3E3E3;
}

.portfolio span {
  color: #9D4EDD;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 60px;
  margin: 0;
  padding: 0;
}

ul li a {
  position: relative;
  text-decoration: none;
  color: #E3E3E3;
  font-weight: 600;
  padding-bottom: 4px;
}

ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 4px solid #FF6EC7;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.4s ease;
}

ul li a:hover::after {
  transform: scaleX(1);
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 235px 15% 265px;
}

.home-content {
  max-width: 800px;
  font-size: 1.3rem;
}

.home-content h1 {
  font-size: 3rem;
  color: #E3E3E3;
  margin: 0;
}

.home-content h1 span {
  color: #9D4EDD;
}

.home-content h2 {
  color: #B8A8E3;
}

.home-btn, .home-btn2 {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.home-btn {
  background: #9D4EDD;
}

.home-btn:hover {
  background: #FF6EC7;
}

.home-btn2 {
  border: 2px solid #9D4EDD;
}

.home-btn2:hover {
  background: #9D4EDD;
}

.home-image img {
  width: 500px;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(157, 78, 221, 0.5);
}

.about {
  padding: 235px 15% 265px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-image img {
  width: 500px;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(157, 78, 221, 0.5);
}

.about-content {
  max-width: 800px;
  font-size: 1.2rem;
}

.about h1 {
  margin-bottom: 30px;
  color: #9D4EDD;
  font-size: 3rem;
  text-align: center;
}

.about-info {
  display: flex;
  align-items: center;
  margin: 10px;
}

.about-info tr {
  height: 50px;
}

.about-info td:first-child {
  text-align: center;
}

.about-info i {
  font-size: 1.8rem;
  color: #9D4EDD;
  margin-right: 15px;
  text-align: center;
}

.about-info p {
  margin: 0;
  color: #B8A8E3;
}

.project {
  padding: 150px 12% 350px;
}

.project h1 {
  text-align: center;
  color: #9D4EDD;
  font-size: 3rem;
  margin-bottom: 50px;
}

.project-content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
  color: #E3E3E3;
  cursor: pointer;
}

.project-info {
  position: relative;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1E1B3A;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.project-content .project-info {
  opacity: 1;
  transition: opacity 0.4s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.project-content:hover .project-info {
  opacity: 0.4;
}

.project-content .project-info:hover {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(157, 78, 221, 0.3);
}

.project-info img {
  border-radius: 8px 8px 0 0;
  width: 400px;
}

.project-info h3 {
  margin: 20px;
}

.project-info p {
  margin: 0 20px;
  color: #B8A8E3;
}

.project-info a {
  text-decoration: none;
  color: #FF6EC7;
  font-weight: 600;
  align-self: flex-start;
  margin: 20px;
  transition: 0.3s;
}

.project-info a:hover {
  color: #E3E3E3;
}

.project-language {
  display: flex;
  gap: 15px;
  margin: 20px 20px 0;
}

.language {
  padding: 5px 10px;
  border-radius : 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background: #9D4EDD;
}

.skill {
  padding: 150px 20% 200px;
  color: #E3E3E3;
}

.skill h1 {
  text-align: center;
  color: #9D4EDD;
  font-size: 3rem;
}

.skill-content {
  margin-bottom: 30px;
}

.skill-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skill-info img {
  width: 50px;
  height: 50px;
  background: #2A2647;
  border-radius: 10px;
  padding: 5px;
  margin-right: 15px;
}

.skill-info span {
  flex: 1;
  font-size: 1.1rem;
  color: #E3E3E3
}

.skill-info .percent {
  width: 60px;
  text-align: right;
}

.progress-bar {
  background: #2A2647;
  border-radius: 10px;
  height: 8px;
  overflow: hidden;
}

.progress {
  height: 8px;
  background: linear-gradient(90deg, #9D4EDD, #FF6EC7);
  border-radius: 10px;
  transition: width 1s ease-in-out;
}

.contact {
  padding: 200px 20% 170px;
  color: #E3E3E3;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info h1 {
  text-align: center;
  color: #9D4EDD;
  font-size: 3rem;
  margin: 0 0 45px 0;
} 

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.info-item tr {
  height: 70px;
}

.info-item td:first-child {
  text-align: center;
}

.info-item i {
  font-size: 1.8rem;
  color: #9D4EDD;
  margin-right: 15px;
  text-align: center;
}

.info-item h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #9D4EDD;
}

.info-item p {
  margin: 0;
  color: #B8A8E3;
}

.social-links {
  margin-top: 40px;
}

.social-links a {
  color: #9D4EDD;
  margin-right: 15px;
  font-size: 2rem;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
  color: #FF6EC7;
  transform: scale(1.15);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 700px;
  align-items: center;
}

.contact-form p {
  margin: 0;
}

.input-box input {
  width: 650px;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  background: #2A2647;
  color: #E3E3E3;
  font-size: 1rem;
  margin-top: 5px;
}

.input-box textarea {
  width: 650px;
  height: 200px;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  background: #2A2647;
  color: #E3E3E3;
  font-size: 1rem;
  margin-top: 5px;
  resize: none;
}

.input-box input:focus, .input-box textarea:focus {
  outline: 2px solid #9D4EDD;
}

.input-box p {
  color: #E3E3E3
}

::placeholder {
  font-family: "Poppins", sans-serif; 
  color: #9d8ac760; 
  font-size: 0.9rem;
  opacity: 1; 
}

button {
  background: #9D4EDD;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 14px;
  font-size: 1rem;
  cursor: pointer;
  width: 25%;
  transition: 0.3s ease;
}

button:hover {
  background: #FF6EC7;
  transform: scale(1.05);
  box-shadow: 0 0 15px #9b5de5;
}

footer {
  text-align: center;
  padding: 15px;
  font-weight: 200;
  font-size: 0.9rem;
  color: #B8A8E3;
  border-top: 1px solid #2A2647;
  background-color: #211c3e;
}

.home, .project, .contact {
  background-image: linear-gradient(
        to bottom left, 
        #0D0B1A 0%, 
        #211c3e 50%,
        #0D0B1A 100%
  );
}

.about, .skill {
  background-image: linear-gradient(
        to bottom left, 
        #211c3e 0%, 
        #0D0B1A 50%,
        #211c3e 100%
  );
}